:root{
    --dark-blue: hsl(240, 38%, 20%);
    --blue: hsl(240, 18%, 77%);
    --main-font: 'Inter', sans-serif;
    --wrapper: 2rem 8%;
}

body{
    background: white;
    color: var(--dark-blue);
    font-family: var(--main-font);
    font-weight:300;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.section-testimonials{
    width:100vw;
    background: url('./images/pattern-curve.svg') no-repeat;
    background-position:left bottom;
    background-size:400px;
}

.testimonials-card{
   width:100vw;
   padding: var(--wrapper);
   display: flex;
   align-items: center;
   flex-direction: column;
}

.testimonials-card-image{
    flex:1;
    width:100%;
    background: url('./images/pattern-bg.svg') no-repeat;
    background-size:100%;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem 1rem;
    position:relative;
}

.testimonials-card-image img{
    width:80%;
}

.slider-btn{
    position:absolute;
    width: 80px;
    height: 40px;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border-radius: 20px;
    display:flex;
    z-index:100;
}

.slider-btn .prev{
    background: url('./images/icon-prev.svg') no-repeat;
    background-size:8px;
    background-position:center;
    width:50%;
    cursor: pointer;
    z-index:100;
}

.slider-btn .next{
    background: url('./images/icon-next.svg') no-repeat;
    background-size:8px;
    background-position:center;
    width:50%;
    cursor: pointer;
    z-index:100;
}

.slider-btn input{
    visibility:hidden;
}

.testimonials-card-copy{
    margin-top:1rem;
    flex:1;
    width:100%;
    background: url('./images/pattern-quotes.svg') no-repeat;
    background-size:60px;
    background-position: top center;
    text-align:center;
    padding-top: 2rem;
    padding-bottom:2rem;
}

.testimonials-card-copy h2{
    font-size:18px;
    font-weight:300;
    line-height:1.5;
    margin-bottom:1rem;
}


.leading-text{
    font-weight:700;

}

.secondary-text{
    color: var(--blue);

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width:767px){
    .testimonials-card{
        display:flex;
        flex-direction: row-reverse;
        width:100vw;
    }
    .testimonials-card-image{
        padding:2rem;
        width:50%;
    }
    .testimonials-card-copy{
        padding:2rem;
        margin-top:3rem;
        text-align: left;
        padding-left: calc(100vw*0.1);
        z-index:1;
      
    }
    .testimonials-card-copy h2{
        width:150%;
        font-size: calc(100vw*0.02);
        padding-right: calc(100vw*0.008);
    }
    .test-profile{
        display:flex;
        font-size:12px;
    }
    .test-profile p{
        margin-right:0.5rem;
    }
    .slider-btn{
        left:30%;
    }


}

